---
layout: layout.njk
title: Contact
permalink: /contact.html
---

<h1 class="page-title">Contact</h1>
<form id="contact-form" action="#" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    
    <label for="message">Message:</label>
    <textarea id="message" name="message" rows="5" required></textarea>
    
    <button type="submit" class="button link-button">Send message</button>
</form>
